
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <title>Student Records</title>  
  {% load static %}   
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} "/>  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %} "/>  
</head>
<div id="navbar">
  <a id="logo">WELCOME</a>
  <div id="navbar-right">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="#about">About</a>
    <a href="{% url 'logout2' %}">Logout</a>   
  </div>
</div>
<body >

  <center><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1 style="text-align:center;"></h1>
  <button class="tablink" onclick="openPage('Add', this, ' rgb(6, 107, 116)')">Add</button>
  <button class="tablink" onclick="openPage('Delete', this, ' rgb(6, 107, 116)')" id="defaultOpen">Delete</button>
  <button class="tablink" onclick="openPage('Edit', this, ' rgb(6, 107, 116)')">Edit</button>
  <button class="tablink" onclick="openPage('container', this, ' rgb(6, 107, 116)')">See All</button>

<div id="Add" class="tabcontent">
  <form id="myForm" method="post">
    <h3>ADD STUDENT HERE:</h3>
    {% csrf_token %}
    First Name:<input type="text" id="fname" name="fname"/ placeholder="Student First Name"><br>
    Last Name:<input type="text" id="lname" name="lname"/ placeholder="Student Last Name"><br>
    Department:<input type="text" id="depart" name="depart"/ placeholder="Student Department"><br>
    <button type="button" onclick="AddStudent()" >Add</button>
  </form>
</div>

<div id="Delete" class="tabcontent">
  <h3>Who Do You Want To Delete?</h3>
  
    </form>
</div>

<div id="Edit" class="tabcontent">

</div>

<div id="container" class="tabcontent"></div>
</center>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.xsrfCookieName = "csrftoken";
 function buildTable(container,list,titles) {
    container.innerHTML = "";
    var table = document.createElement("table");
    var thead = document.createElement("thead");
    var tbody = document.createElement("tbody");
    table.appendChild(thead);
    table.appendChild(tbody);
    if ( list.length > 0 ) {
      var tr = document.createElement("tr");
      thead.appendChild(tr);
      for(var k in titles) {
        var th = document.createElement("th");
        th.innerHTML = titles[k];
        tr.appendChild(th);
      }
      for(var i=0; i<list.length; i++) {
        var tr = document.createElement("tr");
        tbody.appendChild(tr);
        for(var k in list[i]) {
          var td = document.createElement("td");
          td.innerHTML = list[i][k];
          tr.appendChild(td);         
        }
        var td = document.createElement("td");
        var edit = document.createElement("button");
        td.appendChild(edit);
        tr.appendChild(td);
        edit.rowdata = list[i];
        edit.innerHTML = "X";
        edit.onclick =function() {
          handleDelete(this.rowdata[0]);
        };
       
      }
    }
    container.appendChild(table);  
 }
 function listele() {
  axios.get("user/liste")
        .then(function (response) {         
            buildTable(document.getElementById("container"),response.data,["Student ID","FIRST NAME","LAST NAME","DEPARTMENT"]);
        })
        .catch(function (error) {
            console.log(error);
        });
 }

 function handleDelete(id) {
    if (!confirm("Do you REALLY want to delete this person")) {
      return;
    }
  axios.get("user/delete/"+id)
        .then(function (response) {         
            listele();
        })
        .catch(function (error) {
            console.log(error);
        });
 }
 function AddStudent() {
    if (!confirm("Do you want to add this person?")) {
      return;
    }
    const formData = new FormData((document.getElementById("myForm")));
    var data = {
      fnamestudent:formData.get("fname"),
      lnamestudent:formData.get("lname"),
      department:formData.get("depart"),
    };
    document.getElementById("myForm").reset();
    console.log(data);
    axios.post("user/add",data)
    .then(function (response) {         
            listele();
        })
        .catch(function (error) {
            console.log(error);
        });
    }
  listele(); 
  
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "30px 10px";
       document.getElementById("logo").style.fontSize = "25px";
  } else {
      document.getElementById("navbar").style.padding = "80px 10px";
      document.getElementById("logo").style.fontSize = "35px";
  }
}

function openPage(pageName, elmnt, color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}
document.getElementById("defaultOpen").click();
</script>  
</body>
</html>